@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.row {
	display: flex;
	width: 100%;
}

.col {
	background-color: aquamarine;
}

.col-33 {
	width: calc(100% / 3);
	display: flex;
}

/* Header */

header {
	height: 80px;
}

header > .row {
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

header .row > .col {
	display: flex;
	align-items: center;
	height: 100%;
}

nav {
	width: 100%;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-evenly;
}

nav ul a{
	color: #000000;
	text-decoration: none;
}

.btn-blue a{
	background-color: #0061FF;
	color: #FFFFFF;
	padding: 0.5em 1em;
}