@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.col-30 {
	width: 30%;
}

.col-33 {
	width: calc(100% / 3);
}

.col-40 {
	width: 40%;
}

.col-50 {
	width: 50%;
}

.col-60 {
	width: 60%;
}

.col-66 {
	width: calc(100% / 3 * 2);
}

.col-70 {
	width: 70%;
}

.col-100 {
	width: 100%;
}

.margin-top-25px {
	margin-top: 25px;
}

.margin-bottom-1em {
	margin-bottom: 1em;
}

.padding-bottom-1em {
	padding-bottom: 1em;
}

.vertical-padding-50px {
	padding: 50px 0;
}

.vertical-padding-100px {
	padding: 100px 0;
}

.row, .col, .col-30, .col-40, .col-33 {
	border: 1px solid red;
}

.col-30 {
	width: 30%;
}

.col-60 {
	width: 60%;
}

.col-70 {
	width: 70%;
}

.text-big {
	font-size: 50px;
}

.text-small {
	font-size: 14px;
}

.text-bold {
	font-weight: 600;
}

.text-extrabold {
	font-weight: 800;
}

.text-center {
	text-align: center;
}

.container {
	max-width: 1000px;
}

.container-small {
	max-width: 900px;
}

.container, .container-small {
	margin: 0 auto;
}

.btn-blue {
	text-align: center;
	background-color: #0061FF;
	color: #FFFFFF;
	padding: 0.5em 1em;
	border: 0;
}

.btn-blue a{
	color: #FFFFFF;
	text-decoration: none;
}

.btn-white {
	text-align: center;
	background-color: #FFFFFF;
	color: #000000;
	padding: 0.5em 1em;
	border: 0;
}

.btn-white a {
	color: #000000;
	text-decoration: none;
}

a {
	color: #0061FF;
}

.color-gray {
	color: #666666;
}

/* Header */

header {
	height: 80px;
	width: 100%;
	position: fixed;
	top: 0;
	background-color: #FFFFFF;
	z-index: 1;
}

header > .row {
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

header .row > .col {
	display: flex;
	align-items: center;
	height: 100%;
}

nav {
	width: 100%;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
}

nav ul a{
	color: #000000;
	text-decoration: none;
}

/* Jumbotron */

.jumbotron {
	background-color: #B4D0E7;
	margin-top: 80px;
	position: relative;
}

.jumbotron .col-70 {
	position: relative;
}

.jumbo-image{
	position: absolute;
	bottom: -100px;
	width: 100%;
}

/* Plans */

.plans > .container-small > .row {
	margin-bottom: 50px;
}

.plans > .container-small > .row:last-child {
	margin-bottom: 0;
}

.cards {
	flex-wrap: nowrap;
	gap: 0 25px;
}

.card {
	display: block;
}

.card-header, .card-body {
	border: 1px solid #D0D0D3;
}

.card-header {
	text-align: center;
	width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
	display: flex;
	flex-direction: column;
	height: calc(100% - 40px);
	gap: 25px;
	padding: 25px;
	border-top: 0;
}

.col-100 .card-body {
	display: flex;
	flex-direction: row;
	height: calc(100% - 40px);
	gap: 25px;
	padding: 25px;
	border-top: 0;
}

.conditions ul, .summary ul{
	list-style: none;
}

.conditions ul li, .purchase > *, .summary ul li {
	margin-bottom: 1em;
}

.conditions ul li, .summary ul li {
	display: flex;
	align-items: baseline;
	gap: 5px;
}

.summary ul li i {
	color: #0000EE;
}

.gray-line {
	width: 50px;
	border: 0.5px solid #666666;
}

/* Img and text */

.img-and-text .col-60 {
	height: 100%;
}

.img-and-text .col-60 img{
	width: 100%;
}

.img-and-text .col-40 {
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	justify-content: center;
	align-items: flex-start;
}

.img-and-text .btn-white{
	width: auto;
	border: 1px solid #000000;
}

/* Operations */

.business-feature {
	justify-content: space-between;
	row-gap: 25px;
}

.business-feature-img img{
	width: 100%;
}

.business-feature-text p {
	font-size: 14px;
}

/* Teams */

.big-square {
	height: calc(100vw / 3);
}

.big-square .row{
	height: 100%;
}

.brand-team {
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand-team img{
	filter: invert(100%);
	width: 60%;
}

#designit {
	background-color: #A2D39B;
	border: 15px solid rgba( 255, 255, 255, 0.5);
}

#arizona-state-university {
	background-color: #61082B;
}

#university-of-florida {
	background-color: #0093CE;
}

#topps {
	background-color: #FF1C1C;
}

#world-bicycle-relief {
	background-color: #D5001F;
}

#hearts-corporation {
	background-color: #B4D0E7;
}

#lonely-planet {
	background-color: #0D2481;
}

#clear-channel-outdoor {
	background-color: #FFD830;
}

.mosaic-main {
	height: 100%;
	background-color: #F5F5F5;
	padding: 25px;
}

.mosaic-main img {
	width: 60%;
}

.mosaic-main > * {
	margin-bottom: 50px;
}

.free-trial {
	height: calc(100vw / 6);
	width: 100%;
	background: #B4D0E7;
}

.free-trial .row{
	justify-content: space-between;
}

.free-trial .container-small {
	width: 100%;
	display: flex;
	align-items: center;
}

.free-trial h2 {
	color: #61082B;
}